<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>

    <div id="controls">
        <form action="/" method="GET">
            <input type="text" id="search_query" name="search_query" placeholder="Enter a search query:"><br>
            <input type="submit" value="Search" />

            <div class="slidecontainer">
                <label>Similarity Threshold</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="search_threshold" ,
                    name="search_threshold" oninput="this.nextElementSibling.value = this.value">
                <output>50</output>% Similarity
            </div>
        </form>


    </div>

    {% for image in images %}
    <div class=" gallery">
        {% set static_image_path = "images/" + image.path %}
        <a href="/image/{{image.path}}">
            <img src="{{ url_for('static', filename=static_image_path)}}" alt=" {{image.alt}}">
        </a>
        <div class="desc">{{image.caption}}</div>
    </div>
    {% endfor %}

</body>

</html>